.*
!.gitignore
!.gitattributes
*.out
_*

slurm_logs

results/*

!results/fastqs_md5
results/fastqs_md5/*
!results/fastqs_md5/check_vs_metadata.csv

!results/viral_alignment_counts_and_coverage
results/viral_alignment_counts_and_coverage/*
!results/viral_alignment_counts_and_coverage/aggregate_counts_and_coverage.csv

!results/merged_viral_and_mito_counts.csv

!results/analysis_plots
results/analysis_plots/*
!results/analysis_plots/*.html

!results/viral_refgenomes
results/viral_refgenomes/*
!results/viral_refgenomes/coronavirus_accessions.csv 

!results/canine_CoV_alignment_counts_and_coverage
results/canine_CoV_alignment_counts_and_coverage/*
!results/canine_CoV_alignment_counts_and_coverage/aggregated_counts_coverage.csv
!results/canine_CoV_alignment_counts_and_coverage/canine_cov_counts.html
